<section class="cards">
    <div class="card one">
        <div class="card-body">
            <h3 class="card-title text-center">{{artist.name}}</h3>
            <p class="card-text text-center profile">
                id: {{artist.id}}
                <br>
                <a href="mailto:{{artist.email}}"> {{artist.email}} </a>
                <br>
                <a href="https://twitter.com/{{artist.twitter}}"> Twitter: {{artist.twitter}}</a>
                <br>
                <br>
                {{artist.biography}}
            </p>
        </div>
    </div>
</section>
<br>

<section>
    <h3 class="text-center">
        My Work!
    </h3>
    <!--Insert Handlebar-->
    <section class="d-flex flex row">
        <!--Insert Handlebar-->
        {{#each artPieces as |art| }}
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <img src="{{art.img}}" class="card-img-top" alt="{{art.name}}">
                <h5 class="card-title">
                    <!--Insert Piece Name-->
                    <span>{{art.art_name}}</span>
                    <br>
                    <span>${{art.price}}</span>
                </h5>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Buy Option</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <br>
                <button class="homebutton">Add to Cart</button>
            </div>
        </div>
        {{/each}}
    </section>
</section>
{{#section 'script'}}

<script type="application/javascript" src="js/cart.js"></script>

{{/section}}