<section class="cards">
  <div class="card one">
    <div class="card-body">
      <h5 class="card-title text-center">Welcome to Artnnection</h5>
      <h6 class="text-center"> Where Artists and Art Connoisseurs Are Connected </h6>
      <p class="card-text">
        <span class="type">Artists </span>: Create a Profile to be able to post, share, and sell your wonderful
        creations.
        <br>
        <br>

        <span class="type">Art Connoisseurs</span>: Find and Buy your favorite art pieces from our wonderful
        collection of artists. Create a Profile to be able to save your favorite pieces.
      </p>
    </div>
  </div>
</section>
<br>

<section>
  <h3 class="text-center">
    Checkout This Week's Top Artists!
  </h3>
  <section class="d-flex flex row">
    <!--Insert Handlebar-->
    {{#each artists as |artist| }}
    <div class="card" style="width: 18rem;">
      <div class="card-body text-center">
        <h5 class="card-title">
          {{artist.name}}
        </h5>
        <h6 class="card-subtitle">
          <a href="#">
            <!--insert email-->
            {{artist.email}}
          </a>
        </h6>
        <button class="homebutton seeWorkButton"> <a href="#" class="card-link">See My Pieces</a></button>
      </div>
    </div>
    {{/each}}
  </section>
</section>
<br>

<section>
  <h3 class="text-center">
    Checkout This Week's Top Selling Pieces!
  </h3>
  <section class="d-flex flex row">
    <!--Insert Handlebar-->
    {{#each artPieces as |art| }}
    <div class="card" style="width: 18rem;">
      <div class="card-body text-center">
        <img src="{{art.img}}" class="card-img-top" alt="{{art.name}}">
        <h5 class="card-title">
          <!--Insert Piece Name-->
          <span>{{art.name}}</span> by {{art.artist}}
          <br>
          <span>{{art.price}}</span>
        </h5>
        <select class="form-select" aria-label="Default select example">
          <option selected>Select Buy Option</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <br>
        <button class="homebutton cartbutton"> <a href="#" class="card-link buy">Add to Cart</a></button>
      </div>
    </div>
    {{/each}}
  </section>

</section>